<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml" ng-app="consultorio">
    <head>
        <title>ConsultorioOnline</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">        
    </head>
    <body class="bg-secondary">
        <header>
            <!-- Fijar el encabezado -->
            <nav class="navbar fixed-top navbar-light bg-light">
                <a class="navbar-brand" href="#">Consultorio Online</a>
                <img src="../templates/header_consultorio.png">
            </nav>
        </header>
        <main class="row m-3" ng-controller="filasPacientes">
            <article class="col-sm">
                <section class="m-2 p-3 mx-auto container-md border bg-info">
                    <div class="mb-3">
                        <br/> <!--salto de línea-->
                        <br/> <!--salto de línea-->
                        <br/> <!--salto de línea-->
                        <br/> <!--salto de línea-->
                        <br/> <!--salto de línea-->
                        <label for="exampleFormControlInput1" class="form-label">Id Paciente</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"  value="" ng-model="idpaciente"/>
                        <br/>
                        <button type="button" class="btn btn-success" ng-click="consultar()">Consulta aquí</button>
                    </div>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-info">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre"  value="{{nombre}}" ng-model="nombre"/>
                        <label for="documento" class="form-label">Documento</label>
                        <input type="text" class="form-control" id="documento"  value="{{documento}}" ng-model="documento"/>
                        <label for="email" class="form-label">email</label>
                        <input type="text" class="form-control" id="email"  value="{{email}}" ng-model="email"/>
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefono"  value="{{telefono}}" ng-model="telefono"/>
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text"  class="form-control" id="direccion"  value="{{direccion}}" ng-model="direccion"/>
                        <label for="eps" class="form-label">EPS</label>
                        <input type="text"  class="form-control" id="eps"  value="{{eps}}" ng-model="eps"/>
                        <br/> <!--salto de línea-->
                        <button type="button" class="btn btn-success" ng-click="actualizar()">Actualizar</button>
                    </div>
                </section>
            </article>
            <article class="col-sm">
                <section class="m-2 p-3 mx-auto container-md border bg-info">
                    <table class="table">
                        <br/> <!--salto de línea-->
                        <br/> <!--salto de línea-->
                        <br/> <!--salto de línea-->
                        <br/> <!--salto de línea-->
                        <br/> <!--salto de línea-->
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Documento Paciente</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">eps</th>
                                <!--<th scope="col">Acciones</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fila in filas">
                                <td>{{fila.idpaciente}}</td>
                                <td>{{fila.documento}}</td>
                                <td>{{fila.nombre}}</td>
                                <td>{{fila.telefono}}</td>
                                <td>{{fila.eps}}</td>
                                <!--<td>
                                    <button type="button" class="btn btn-success">Editar</button>
                                    <button type="button" class="btn btn-danger">Remover</button>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-info">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Eliminar paciente</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"  value="" ng-model="idpaciente"/>
                        <br/>
                        <button type="button" class="btn btn-success" ng-click="borrar()">Eliminar</button>
                    </div>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-info">
                    <div class="mb-3">
                        <label for="idpaciente" class="form-label">Id Paciente</label>
                        <input type="text" class="form-control" id="idpeciente"  value="{{idpaciente}}" ng-model="idpaciente"/>
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre"  value="{{nombre}}" ng-model="nombre"/>
                        <label for="documento" class="form-label">Documento</label>
                        <input type="text"  class="form-control" id="documento"  value="{{documento}}" ng-model="documento"/>
                        <label for="email" class="form-label">email</label>
                        <input type="text" class="form-control" id="email"  value="{{email}}" ng-model="email"/>
                        <label for="telefono" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="telefono"  value="{{telefono}}" ng-model="telefono"/>
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text"  class="form-control" id="direccion"  value="{{direccion}}" ng-model="direccion"/>
                        <label for="eps" class="form-label">EPS</label>
                        <input type="text"  class="form-control" id="eps"  value="{{eps}}" ng-model="eps"/>
                        <br/> <!--salto de línea-->
                        <button type="button" class="btn btn-success" ng-click="guardar()">Guardar</button>
                    </div>
                </section>
            </article>
        </main>
        <footer>
            <h6>Desarrollado por Germán e Ismael - Ciclo 3 - Grupo 4 - Curso O5</h6>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <!--<script src="js/angular-bootstrap.js" type="text/javascript"></script>-->
        <script src="js/funcionalidad.js"></script>
    </body>
</html>
